body {
    background-color: #070707;
}

.container {
    color: #fff;
}

.banner {
    background: center / cover no-repeat url("banner.jpg");
    text-align: center;
    height: 96px;
}

.vw-logo {
    background: left / contain no-repeat url("logo.png");
    height: 32px;
}

.row, .card {
    background-color: #070707;
    color: #fff;
    vertical-align: text-top;
}
.card {
    border: 0.15rem solid #212121;
    background-color: #212121;
    padding: 0.5rem;
    align-self: flex-start;
}

h1, h2, h3, h4, h5, h6 {
    color: #f3e5ab; /* d7cea4 */
}

nav.row {
    background-color: #000;
    border: 0em;
    /*border-top: .2rem solid #212121;*/
    border-bottom: .2rem solid #212121;
    padding-bottom: 0.5em;
    text-align: center;
}

footer {
    margin-top: 2em;
    padding: 0em;
    text-align: center;
    border-top: .2rem solid #212121;
}

a {
    color: #FFB019 !important;
}
a:visited {
    color: #CFCFCF !important;
}

.q1 {
    color: #fff !important;
}
.q2 {
    color: #1eff00 !important;
}
.q3 {
    color: #0070dd !important;
}
.q4 {
    color: #a335ee !important;
}
.q5 {
    color: #ff8000 !important;
}

pre {
    background: #cccccc;
    color: #000;
}

.vanilla {
    color: #f3e5ab;
}
.warrior {
    color: #b08b62;
    /* #c79c6e */
}
.factionLogo {
    height: 1.33em;
}
