body {
    background-image: url(https://raw.githubusercontent.com/projectblitz/projectblitz.github.io/master/static/drak_drakon.png);
    background-size: cover;
}

.container {
    color: #fff;
}

.q1 {
    color: #fff !important;
}
.q2 {
    color: #1eff00 !important;
}
.q3 {
    color: #0070dd !important;
}
.q4 {
    color: #a335ee !important;
}
.q5 {
    color: #ff8000 !important;
}
