:root {
    --color-vanilla: #f3e5ab;
    --vw-color-warrior: #b08b62; /* #c79c6e */
    --vw-color-mage: #40C7EB;
    --vw-color-warlock: #8787ED;
    --vw-color-priest: #FFFFFF;
    --vw-color-rogue: #FFF569;
    --vw-color-druid: #FF7D0A;
    --vw-color-hunter: #ABD473;
    --vw-color-shaman: #F58CBA;
    --vw-color-paladin: #F58CBA;

    --vw-color-text: #fff;
    --vw-back-color: #070707;
    --vw-alt-back-color: #212121;
}

body {
    scroll-behavior: smooth;
    background-color: var(--vw-back-color);
    color: var(--vw-color-text);

    /* mini.css customization */
    --fore-color: var(--vw-color-text);
    --back-color: var(--vw-back-color);

    --nav-fore-color: var(--vw-color-text);
    --nav-back-color: var(--vw-back-color);
    --nav-hover-back-color: var(--vw-alt-back-color);

    --table-head-fore-color: var(--color-vanilla);
    --table-body-fore-color: var(--vw-color-text);
    --table-head-back-color: var(--vw-back-color);
    --table-body-back-color: var(--vw-back-color);
    --table-body-alt-back-color: var(--vw-alt-back-color);
    --table-body-hover-back-color: var(-vw-color-warrior);

    --card-fore-color: var(--vw-color-text);
    --card-back-color: var(--vw-alt-back-color);

    --footer-fore-color: var(--vw-color-text)
    --footer-back-color: var(--vw-back-color);
}

.container {
    color: var(--vw-color-text);
}

.row {
    background-color: var(--vw-back-color);
}

.card {
    border: 0.15rem solid var(--vw-alt-back-color);
    padding: 0.5rem;
    align-self: flex-start;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-vanilla); /* alt: d7cea4 */
}

pre {
    background: #eee;
    color: #000;
}

code {
    background: #eee;
    color: #000;
}

table {
    max-height: none !important;
}

label {
    display: inline-block;
    width: 6em;
    text-align: right;
}​

nav {
    margin: 0em;
    padding: 0em;
    font-size: 1.5em;
    font-weight: bold;
}
nav.row {
    border: 0em;
    border-left: .25rem solid var(--vw-alt-back-color);
    border-right: .25rem solid var(--vw-alt-back-color);
    border-bottom: .25rem solid var(--vw-alt-back-color);
    text-align: center;
}

footer {
    margin-top: 2em;
    padding: 0em;
    text-align: center;
    border-top: .25rem solid var(--vw-alt-back-color);
}

a {
    color: #FFB019 !important;
}
a:visited {
    color: #CFCFCF !important;
}

.q1 {
    color: #fff !important;
}
.q2 {
    color: #1eff00 !important;
}
.q3 {
    color: #0070dd !important;
}
.q4 {
    color: #a335ee !important;
}
.q5 {
    color: #ff8000 !important;
}

.banner {
    background: center / cover no-repeat url("banner.jpg");
    text-align: center;
    height: 96px;
}

.vanilla {
    color: var(--color-vanilla);
}
.warrior {
    color: var(--vw-color-warrior);
}
.factionLogo {
    height: 1.33em;
}

div.wowhead-tooltip * {
    display: revert;
}
